#spr2_32cb0cc3 * {-webkit-transform-origin:0 0; -moz-transform-origin:0 0; -o-transform-origin:0 0; -ms-transform-origin:0 0; transform-origin:0 0;}#spr1_32cb0cc3,#spr2_32cb0cc3 {clip:rect(0px,720px,540px,0px);}